/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  color: black;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++ */

.accent {
  color: #3C5A4B;
}

.accentBg {
  background: linear-gradient(to right, #3C5A4B, #5E8D76, #3C5A4B);
}

.beige {
  color: #F7F5E4;
}

.beigeBg {
  background-color: #F7F5E4;
}

.greenBg {
  background-color: #3C5A4B;
}

.uppercase {
  text-transform: uppercase;
}

/* +++++++++++++++fonts++++++++++++++++ */

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.openSans {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* _______________header______________________ */

.headerMenu_box {
  margin-top: 35px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerMenuList {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.headerBtn_box {
  border: 3px solid #FFA216;
  padding: 12px 35px;
  transition: background 0.5s ease;
}

.mainPhoto_box {
  position: relative;
}

.logoImg {
  width: 150px;
  height: 90px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(3%, 10%);
}

.headerMenuList a {
  position: relative;
  text-decoration: none;
  color: black;
  /* или твой цвет */
  padding: 5px 0;
  display: inline-block;
}

.headerMenuList a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FFA216;
  /* подчёркивание — твой акцентный цвет */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.headerMenuList a:hover::after {
  transform: scaleX(1);
}

/* ______________burger_____________ */
/* Бургер и его полоски */
.burger {
  width: 60px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  margin-top: 15px;
}

.burger span {
  display: block;
  height: 3px;
  background-color: #FFA216;
  border-radius: 2px;
  transition: 0.3s;
}

.closeBurger {
  display: none;
}

.headerMenuList.active+.closeBurger {
  display: block;
}



















/* ______________adapt______________________ */

@media (max-width: 767px) {
  .closeBurger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    transform: translate(-10%, 10%);
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .headerMenuList {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffa216be;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    display: none;
    width: 100%;
    text-align: center;
    height: 100%;
  }

  .headerMenuList.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .mainPhoto_box {
    display: none;
  }
}

@media (max-width: 430px) {
  .headerBtn_box {
    padding: 9px 27px;
  }

  .burger {
    width: 43px;
    margin-top: 12px;
  }
}