/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 5000px;
  font-family: sans-serif;
  color: black;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}


/* ++++++++++++++++++++++++++++++++++++++++ */

.accent {
  color: #607d8b;
}

.accentBg {
  background: linear-gradient(to right, #3C5A4B, #5E8D76, #3C5A4B);
}

.beige {
  color: #F7F5E4;
}

.beigeBg {
  background-color: #F7F5E4;
}

.greenBg {
  background-color: #3C5A4B;
}

.uppercase {
  text-transform: uppercase;
}

/* +++++++++++++++fonts++++++++++++++++ */

.playfairDisplay-SemiBold {
  font-family: "PlayfairDisplay-SemiBold", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.openSans {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.openSansRegular {
  font-family: 'OpenSans-Regular', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.OoohBaby {
  font-family: 'OoohBaby-Regular', sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: italic;
}

/* _______________header______________________ */
.header-section {
  background-image: url(../icon/headerLogo_02.png), url(../icon/headerLogo_01.png);
  background-position: top right, top right;
  background-repeat: no-repeat;
  background-size: 550px auto, 350px auto;
}

.headerInfoWrp {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

.header-section {
  margin-bottom: 100px;
}


.headerMenu_box {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.headerMenuList {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.headerBtn_box {
  margin: 40px 0;
}

.headerIcon_box {
  width: 32px;
}

.headerBtnContacts {
  border: 3px solid #607d8b;
  padding: 5px 35px;
  transition: background 0.5s ease;
}

.mainPhoto_box {
  position: relative;
}

.logoImg {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-139%, 13%);
}

.headerMenuList a {
  position: relative;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
}

.headerMenuList a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #607D8B;
  /* подчёркивание — твой акцентный цвет */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.headerMenuList a:hover::after {
  transform: scaleX(1);
}

.headerFeaturesList_box {
  margin-bottom: 20px;
}

.headerFeaturesItem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.headerTitle {
  font-size: 48px;
  margin-bottom: 15px;
}

.headerText {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
  max-height: calc(1em * 3.4);
  /* 2 строки, с запасом */
  overflow-y: auto;
  line-height: 1.2em;
}

.headerFeaturesText {
  font-size: 16px;
}

.headerFeaturesIcon {
  border: 2px solid #607d8b;
  padding: 5px;
  border-radius: 20px;
}

.headerTelegram_box {
  border: 2px solid #000;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px 3px 20px;
  margin-bottom: 20px;
}

.telegramLinkText {
  color: #666666;
  font-size: 16px;
  margin: 0;
}

.headerTelegramLinkBtn {
  font-size: 16px;
  background-color: #607d8b;
  border-radius: 25px;
  padding: 10px 10px;
}

.headerPortfolio_box {
  font-size: 16px;
}

.headerPortfolioLink {
  color: #fff;
  background-color: #000;
  border-radius: 25px;
  padding: 10px 40px;
}


.headerPortfolio_box,
.headerPortfolioLink {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.portfolioLinkText {
  margin: 0px;
}

/* ______________burger_____________ */
/* Бургер и его полоски */
.burger {
  width: 60px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
  margin-top: 30px;
}

.burger span {
  display: block;
  height: 3px;
  background-color: #607d8b;
  border-radius: 2px;
  transition: 0.3s;
}

.closeBurger {
  display: none;
}

.headerMenuList.active+.closeBurger {
  display: block;
}

/* ___________about______________ */

.aboutSection {
  margin-bottom: 100px;
}

.containerAbout {
  background-color: #1a1811;
  border-bottom-left-radius: 70px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  align-items: center;
}


.aboutAchievementsList_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutTitle {
  font-size: 33px;
  margin: 50px 0 30px 0;
  width: 80%;
}

.aboutText,
.aboutAchievementsItemName {
  font-size: 10px;
}

.aboutText {
  font-size: 14px;
  max-height: calc(1em * 3.4);
  /* 2 строки, с запасом */
  overflow-y: auto;
  line-height: 1.2em;
}

.aboutAchievementsItemTitle {
  font-size: 26px;
  margin: 0;
}

.aboutAchievementsList_box {
  margin-top: 20px;
}

.aboutInfo_box {
  padding-left: 50px;
}

.aboutPhoto_box {
  text-align: end;
}

/* ____________________specialisition___________ */

.specializationSection {
  background-color: #F9F9F9;
  padding: 50px 0;
}

.specializationImg {
  border-top-left-radius: 50px;
}

.specializationInfo_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.specializationList {
  color: #fff;
}

.specializationText {
  color: #666666;
}

.specializationItemBox {
  background-color: #607d8b;
  border-radius: 25px;
  margin-bottom: 20px;
}

.specializationItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #000;
  border-radius: 25px;
}

.specializationImgs {
  display: flex;
  flex-wrap: no-wrap;
  gap: 10px;
}

.specializationTitle {
  font-size: 36px;
}

/* ____________quoteSection_______________ */

.quoteSection {
  margin-bottom: 100px;
  text-align: center;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.quote {
  width: 80%;
  margin: 0 auto;
}

.quoteVector_01,
.quoteVector_03,
.quoteVector_02 {
  position: absolute;
}

.quoteVector_03 {
  transform: translate(100%, 70%);
  top: 0;
}

.quoteVector_02 {
  transform: translate(-50%, 0%);
  bottom: 0;
}

.quoteVector_01 {
  transform: translate(-50%, -10%);
  bottom: 0;
}

.quoteText,
.quoteTitle {
  font-size: 36px;
  margin-bottom: 40px;
}

.quoteText {
  letter-spacing: 5px;
  font-weight: 300;
}

.quoteName {
  font-size: 16px;
}

.quoteImg {
  border-radius: 100px;
  padding: 7px;
  border: 1px solid #E9E9E9;
  margin-bottom: 20px;
  width: 200px;
  height: auto;
}

/* ____________projects___________ */
.projectsSection {
  background-color: #F9F9F9;
  padding: 100px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.projectsTitle {
  font-size: 36px;
  margin-bottom: 10px;
}

.projectsSubtitle {
  color: #666666;
  font-size: 16px;
  margin-bottom: 40px;
}

.projectName {
  font-size: 16px;
}

.projectText {
  font-size: 14px;
  color: #666666;
}

.gallery_box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}

.galleryPhoto {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryPhoto:hover {
  filter: grayscale(0%);
}

/* __________myPrincipleSection______ */

.myPrincipleSection {
  background-color: #F9F9F9;
  padding: 50px 0 100px 0;
}

.principImg {
  border-radius: 25px;
}

.myPrincipTitle {
  font-size: 48px;
}

.myPrincipText {
  font-size: 16px;
  color: #666666;
  margin-top: auto;
}

.myPrincipTitle>span {
  color: #607d8b;
}

.myPrincipInfo_box {
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* ___________registrationForm___________ */

.registrationFormSection {
  padding: 100px 0;
}

.registrationTitle {
  font-size: 48px;
}

.btnForm,
.registrationText {
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.inputBox {
  font-size: 30px;
}

.input {
  border: 1px solid #000;
  padding: 10px 20px;
  width: 100%;
  border-radius: 50px;
}

/* ___________footerSection___________ */
.footerSection {
  text-align: center;
  background-color: #000;
  color: #FFFFFF;
  padding: 80px 0 20px 0;
}

.footerBtn {
  border: 2px solid #fff;
  margin-bottom: 50px;
}

.footerTitle {
  font-size: 36px;
  margin-bottom: 50px;
}

.footerSocial_box {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.socialLink {
  border: 2px solid #607d8b;
  border-radius: 25px;
  padding: 5px 10px;
}

.footerMenuList {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  margin-bottom: 40px;
  justify-content: center;
  padding: 0;
}

.copy {
  font-size: 14px;
}

/* ______________adapt______________________ */
@media (max-width: 1200px) {
  .myPrincipTitle {
    font-size: 33px;
  }

  .projectList {
    padding: 0;
  }

  .gallery_box {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .containerAbout {
    grid-template-columns: auto;
  }

  .aboutAchievementsList_box {
    justify-content: space-around;
  }

  .headerBtn_box {
    margin-top: 50px;
  }
}

@media (max-width: 990px) {

  .myPrincipTitle {
    font-size: 30px;
  }

  .headerBtnContacts {
    display: none;
  }

  .headerPortfolioLink {
    padding: 10px 110px;
  }

  .headerPortfolio_box {
    display: none;
  }

  .headerTitle {
    font-size: 29px;
    margin-bottom: 9px;
  }

  .headerText {
    font-size: 12px;
    color: #666666;
    margin-bottom: 20px;
  }

  .headerTelegram_box {
    margin-bottom: 10px;
  }

  .headerTelegramLinkBtn {
    font-size: 14px;
    padding: 5px 5px;
  }

  .telegramLinkText {
    font-size: 14px;
    margin-left: 20px;
  }

  .specializationTitle {
    font-size: 24px;
  }

  .specializationText {
    font-size: 14px;
  }

  .specializationItemBox {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .myPrincipTitle {
    font-size: 28px;
  }

  .footerTitle {
    font-size: 30px;
  }

  .quoteText,
  .quoteTitle {
    font-size: 28px;
  }

  .aboutInfo_box {
    padding: 10px 50px 0 50px;
  }

  .headerText {
    font-size: 16px;
    margin: 14px 0 14px 20px;
  }

  .headerTitle {
    font-size: 44px;
    margin-bottom: 15px;
  }

  .headerTelegram_box {
    margin-bottom: 28px;
  }

  .headerPortfolio_box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
  }

  .itemHome {
    color: #000;
  }

  .headerBtnContacts {
    display: flex;
    justify-content: center;
  }

  .closeBurger {
    border-radius: 53px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    transform: translate(-10%, 10%);
    padding: 0px 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 26px;
    background: #fff;
  }

  .headerMenuList {
    font-size: 26px;
    margin-top: 0;
    position: fixed;
    top: 0;
    background: #607D8B;
    flex-direction: column;
    padding: 53px 0 0 0;
    border-radius: 0 20px 20px 0px;
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    transform: translate(-100%, 0px);
    transition: all 0.3s ease-in-out;
    width: 50vw;
    left: 0;
  }

  .headerMenuList.active {
    transform: translate(0, 0);
  }

  .burger {
    display: flex;
  }

  .mainPhoto_box {
    display: none;
  }

  .headerMenu_box {
    justify-content: space-between;
  }

  .headerPortfolioLink {
    padding: 10px 115px;
  }

  .headerMenu_box {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .myPrincipTitle {
    font-size: 25px;
  }

  .myPrincipInfo_box {
    gap: 5px;
  }

  .myPrincipText {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .headerTelegram_box {
    padding: 3px 3px 3px 3px;
  }
}

@media (max-width: 431px) {
  .myPrincipTitle {
    font-size: 23px;
  }

  .myPrincipText {
    font-size: 10px;
  }

  .headerTelegram_box {
    padding: 3px 3px 3px 3px;
  }

  .footerTitle {
    font-size: 26px;
  }

  .quoteVector_03 {
    transform: translate(50%, 70%);
  }

  .quoteText,
  .quoteTitle {
    font-size: 20px;
  }

  .headerBtn_box {
    padding: 9px 27px;
  }

  .burger {
    width: 43px;
    margin-top: 45px;
  }

  .headerMenu_box {
    margin-bottom: 30px;
  }

  .headerTitle {
    font-size: 55px;
  }
}