/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  color: black;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++ */

.accent {
  color: #3C5A4B;
}

.accentBg {
  background: linear-gradient(to right, #3C5A4B, #5E8D76, #3C5A4B);
}

.beige {
  color: #F7F5E4;
}

.beigeBg {
  background-color: #F7F5E4;
}

.greenBg {
  background-color: #3C5A4B;
}

.uppercase {
  text-transform: uppercase;
}

/* +++++++++++++++fonts++++++++++++++++ */

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.openSans {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* _______________header______________________ */


.col-5,
.col-7 {
  border: 2px solid #000;
}

.headerMenu_box {
  margin-top: 35px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerMenuList {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.headerBtn_box {
  border: 3px solid #FFA216;
  padding: 12px 35px;
  transition: background 0.5s ease;
}

















/* ______________adapt______________________ */
/* @media screen and (max-width: 355px) {
  .bgHeaderMainScreen {
    background-position: -424px center;
  }

  .mainBtn {
    padding: 6px 29px;
  }
} */